* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.50s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
}

/* Navbar */
.navbar {
  background-color: #2D2C2F;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12%;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.navbar li {
  list-style: none;
}

.navbar a {
  color: #f7f7f7;
  display: flex;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
  margin: 0 10px;
  transition: all 0.50s ease;
  text-decoration: none;
}

/* Navbar End */

/* Footer */
.footer{
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  position: absolute;
  top: 1750px;
  background: #2D2C2F;
}

.footer p{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 46px;
  position: absolute;
  color: #CCB48F;
  top: 30px;
  left: 50px;
}

.facebook img{
  position: absolute;
  width: 50px;
  top: 30px;
  right: 300px;
}

.instagram img{
  position: absolute;
  width: 54px;
  top: 30px;
  right: 200px;
}

.twitter img{
  position: absolute;
  width: 60px;
  top: 30px;
  right: 100px;
}
/* Footer End */

/* Find a store */

.find-our-store {
  font-family: Montserrat;
}

.find-our-store h2 {
  position: absolute;
  top: 250px;
  left: 60px;
  font-weight: 900;
  font-size: 44px;
}

.find-our-store p {
  position: absolute;
  top: 300px;
  left: 60px;
  font-weight: lighter;
  font-size: 28px;
}

/* Find end */

/* Search Bar */
.search-bar {
  position: absolute;
  top: 270px;
  left: 500px;
}

.bar input[type="text"] {
  width: 600px;
  height: 60px;
  padding: 20px;
  font-family: Arial;
  border: 0px solid #ccc;
  font-weight: lighter;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: inset 0.5px 2px 3px rgba(0, 0, 0, 0.25);
}

.bar input[type="text"]:focus {
  outline: none;
}

.bg-img {
  position: absolute;
  left: 525px;
  bottom: -80px;
  z-index: -1;
  pointer-events: none;
}

#cldImg {
  width: 1280px;
  height: 720px;
}

.search-bar img {
  position: absolute;
  left: 540px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; 
  height: 40px;
}

.square-button {
  position: absolute;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.square-button img {
  position: absolute;
  left: 632px;
  top: -28px;
  width: 45px;
  height: 45px;
}

.square {
  position: absolute;
  left: 625px;
  bottom: 0px;
  width: 60px; 
  height: 60px;
  border-radius: 8px;
  background-color: #fff; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

/* Search End */

.outlet-title {
  position: absolute;
  top: 500px;
  left: 60px;
  font-family: Montserrat;
  font-size: 20px;
}

.line {
  position: absolute;
  left: 60px;
  top: 535px;
  width: 1150px; 
  height: 2px;
  border-radius: 8px;
  background-color: #000000; 
}

#location-img {
  width: 25px;
  height: 25px;
}

#phone-img {
  width: 20px;
  height: 20px;
}

#email-img {
  width: 39px;
  height: 30px;
}

.tokyo-branch {
  position: absolute;
  top: 575px;
  left: 80px;
  font-family: Montaga;
}

.tokyo-details {
  font-size: 24px;
}

.tokyo-location {
  position: relative;
  left: 40px;
}

.icon-location {
  position: relative;
  bottom: 60px;
}

.tokyo-hours {
  position: absolute;
  top: 585px;
  left: 650px;
  font-family: Montaga;
}

.tokyo-schedule {
  font-family: Montaga;
}

.phone-icon {
  position: absolute;
  bottom: 55px;
}

.email-icon {
  position: absolute;
  right: 579px;
  bottom: 15px;
}

/* Sapporo Branch */
.sapporo-branch {
  position: absolute;
  top: 875px;
  left: 80px;
  font-family: Montaga;
}

.sapporo-details {
  font-size: 24px;
}

.sapporo-location {
  position: relative;
  left: 40px;
}

.icon-location {
  position: relative;
  bottom: 60px;
}

.sapporo-hours {
  position: absolute;
  top: 885px;
  left: 650px;
  font-family: Montaga;
}

.sapporo-schedule {
  font-family: Montaga;
}

.phone-icon {
  position: absolute;
  bottom: 55px;
}

.email-icon {
  position: absolute;
  right: 545px;
  bottom: 15px;
}

/* PIK Branch */
.pik-branch {
  position: absolute;
  top: 1175px;
  left: 80px;
  font-family: Montaga;
}

.pik-details {
  font-size: 24px;
}

.pik-location {
  position: relative;
  top: 0px;
  left: 40px;
}

.pik-location {
  position: relative;
  bottom: 60px;
}

.pik-hours {
  position: absolute;
  top: 1185px;
  left: 650px;
  font-family: Montaga;
}

.pik-schedule {
  font-family: Montaga;
}

.phone-icon {
  position: absolute;
  bottom: 55px;
}

.email-icon {
  position: absolute;
  right: 545px;
  bottom: 15px;
}

.contact-us {
  position: absolute;
  top: 1695px;
  font-family: Montserrat;
}

.contact-us-bg {
  position: absolute;
  left: 475px;
  bottom: 0px;
  width: 750px; 
  height: 280px;
  border-radius: 30px;
  background-color: #1E2D1F;
  opacity: 90%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.contact-us-bg h2{
  color: #f7f7f7;
  position: absolute;
  left: 65px;
  top: 25px;
}

.contact-us-bg p{
  color: #f7f7f7;
  position: absolute;
  left: 65px;
  top: 185px;
}

.contact-us-bg input[type="text"]{
  padding: 6px;
  font-family: Arial;
  border: 0px solid #ccc;
  font-weight: lighter;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: inset 0.5px 2px 3px rgba(0, 0, 0, 0.25);
}

.contact-us-bg input[type="text"]:focus {
  outline: none;
}

.first-name {
  position: absolute;
  top: 70px;
  left: 65px;
  width: 235px;
}

.last-name {
  position: absolute;
  top: 70px;
  left: 315px;
  width: 385px;
}

.phone-number {
  position: absolute;
  top: 110px;
  left: 65px;
  width: 300px;
}

.e-mail {
  position: absolute;
  top: 110px;
  left: 375px;
  width: 325px;
}

.ramen-preference {
  position: absolute;
  top: 210px;
  left: 65px;
  width: 400px;
}

.contact-us-bg button{
  position: absolute;
  left: 545px;
  top: 205px;
  padding: 12px 24px;
  background-color: #000000;
  color: #f7f7f7;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  top: 175px;
  left: 505px;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #333;
}

.checkbox input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 8px;
  height: 14px;
  background-image: url('Assets/check-mark-line-icon.png'); /* Path to your custom tick icon */
  background-size: cover;
  background-repeat: no-repeat;
  visibility: hidden;
}

.checkbox input[type="checkbox"]:checked::after {
  visibility: visible;
}

.checkbox label {
  font-size: 12px;
  margin-left: 5px;
  color: #f7f7f7;
}

.footer{
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  position: absolute;
  top: 1750px;
  background: #2D2C2F;
}

@media screen and (max-width: 600px) {
  
}